[init]
defaultBranch = main
[user]
name = Daniel Jašek
email = jasekdan@gmail.com
signingkey = 455DE982DCC30C6E
[commit]
gpgSign = true
[push]
default = current
[color]
ui = auto
[diff]
colorMoved = zebra
[core]
	editor = nvim
